@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: initial;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;

}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #020617; /* Cor do fundo do track */
}

::-webkit-scrollbar-thumb {
  background: #38BDF8; /* Cor do thumb */
  border-radius: 6px; /* Arredondar os cantos */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #74c9ee; /* Cor do thumb ao passar o mouse */
}


nav a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: #38BDF8; /* Certifique-se de que a variável CSS está definida */
  margin-top: 2px;
  transition: width 0.3s;
  position: absolute;
  left: 0;
  bottom: -4px;
}

nav a:active::after,
nav a:hover::after {
  width: 100%;
}

nav a.active::after {
  width: 100%;
}

#Home {
  scroll-margin-top: 80px
}

#Quemsou{
  scroll-margin-top: 65px
}

#Projetos {
  scroll-margin-top: 75px
}

@media (max-width: 750px) {
  nav a::after {
    width: 0; /* Remove o efeito do ::after */
    /* Outras possíveis alterações, se necessário */
  }
  nav a:hover::after,
  nav a:active::after {
    width: 0; /* Remove o efeito do ::after em hover e active */
    background-color: #0a1029;
  }

  nav a.active::after {
    width: 0;
    background-color: #0a1029;
  }

  #Quemsou{
    scroll-margin-top: 125px
  }
}

